#site{
    background-color: lightgray;
    overflow-x: hidden; 

}

html{
    background-color: lightgray;
}
p{
    font-family: cursive;  
}
strong{
    font-family: cursive;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
}

.blanc a
{
    color: #fff;
    text-decoration: none;
    font: 20px Raleway;
    position: relative;
    z-index: 0;
    cursor: pointer;
    border-radius: 50px;
}

/* Navbar */
.navbar {
    background-color: #343a40; /* Dark background color */
}
.Intitule{
  margin-left: 20px;
  font-weight: bold;
}
.nav-item{
  margin-right: 20px;
}
.navbar-toggler {
    border-color: #fff; /* White color for the toggler */
}

.navbar-toggler-icon {
    background-color: #fff; /* White color for the toggler icon */
}

.navbar-nav .nav-link {
    color: #fff !important; /* White color for the nav links */
    font-family: Raleway, sans-serif; /* Use Raleway font */
    text-transform: uppercase; /* Uppercase text */
    padding: 0.5rem 1rem; /* Add padding to the links */
    transition: color 0.3s; /* Smooth color transition */
}

.navbar-nav .nav-link:hover {
    color: silver !important; /* Silver color on hover */
}

/* Navbar buttons */
.navbar-nav .nav-link {
  position: relative; /* Add relative positioning */
}

/* Circle behind navbar buttons */
.navbar-nav .nav-link:before, .navbar-nav .nav-link:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 4px solid #0277bd;
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.navbar-nav .nav-link:after {
  border-width: 2px;
  transition: all 0.4s;
}

.navbar-nav .nav-link:hover:before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.navbar-nav .nav-link:hover:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.3);
}
#a-propos,
#competences,
#cv,
#projets {
  scroll-margin-top: 60px; /* Ajustez cette valeur selon vos besoins */
}
/*pas touche au haut*/
section{
    margin-top: 60px;
    display: block;
}
/*a propos*/
.section-title h2{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    color: #45505b; 
    text-align: center;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 10;
    left: calc(50% - 20px);
    
}
#Text_A_Propos, #Text_Projet{
  text-align: justify;
}
.section-title p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-indent: 50px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#lien{
    color:#0277bd;
    text-decoration: none;    
}

.info{
    font-family: cursive;   
}

.info li{
    margin: 1em;

}

/* tableau*/

td,th{
  font-family: cursive; 
}

.table{
  border-color: black !important;

}
.table-bordered>:not(caption)>*>* {
  --bs-table-bg-type: lightgray;
}




/*FORMATION & EXPÉRIENCE*/

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
/* projet*/

.projets #portfolio-flters li:hover, .projets #portfolio-flters li.filter-active {
    color: #0563bb;
}

.projets #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.flip-card-container {
    --hue: 150;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);
  
    width: 310px;
    height: 500px;
    margin: 40px;
  
    perspective: 1000px;
  }
  
  /* .flip-card */
  .flip-card {
    width: inherit;
    height: inherit;
  
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
  }
  
  /* hover and focus-within states */
  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }
  
  /* .card-... */
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
  
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  
    backface-visibility: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .card-front */
  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  /* .card-back */
  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }
  
  /* figure */
  figure {
    z-index: -1;
  }
  
  /* figure, .img-bg */
  figure,
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  }
  .img-bg-RT{
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  }
  
  /* img */
  img {
    height: 100%;
    border-radius: 24px;
  }
  
  /* figcaption */
  figcaption {
    display: block;
  
    width: auto;
    margin-top: 12%;
    padding: 8px 22px;
  
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
  
    position: absolute;
    top: 0;
    right: 12px;
  
    color: var(--white-1);
    background: hsla(var(--hue), 25%, 10%, .5);
  }
  
  /* .img-bg */
  .img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
  }
  
  .card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
  }
  
  .card-front .img-bg::before {
    content: "";
  
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
  
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
  
    transition: .1s;
  }
  
  .card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    background-attachment: local;
    background-size: cover;
  }
  
  /* hover state */
  .flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
  }
  
  /* ul */
  .flip-card ul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
  
    list-style: none;
    color: var(--white-1);
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* li */
 
  
  /* button */
  .flip-card-button {
    font-family: inherit;
    font-weight: bold;
    color: var(--white-1);
    letter-spacing: 2px;
    padding: 9px 20px;
    border: 1px solid var(--grey);
    border-radius: 1000px;
    background: transparent;
    transition: color 0.3s, background 0.3s, border-color 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  .flip-card-button:hover,
  .flip-card-button:focus {
    color: var(--primary);
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: currentColor;
    transform: translate(2px);
  }
  
  /* Animation */
  @keyframes button-hover {
    0% { transform: translateY(0); }
    50% { transform: translateY(-4px); }
    100% { transform: translateY(0); }
  }
  
  .flip-card-button:hover,
  .flip-card-button:focus {
    animation: button-hover 0.3s infinite;
  }
  
  /* .design-container */
  .design-container {
    --tr: 90;
    --op: .5;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  /* .design */
  .design {
    display: block;
    background: var(--grey);
    position: absolute;
    opacity: var(--op);
    transition: .3s;
  }
  
  .design--1,
  .design--2,
  .design--3,
  .design--4 {
    width: 1px;
    height: 100%;
  }
  
  .design--1,
  .design--2 {
    top: 0;
    transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
  }
  
  .design--1 {
    left: 20%;
  }
  
  .design--2 {
    left: 80%;
  }
  
  .design--3,
  .design--4 {
    bottom: 0;
    transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--3 {
    left: 24%;
  }
  
  .design--4 {
    left: 76%;
  }
  
  .design--5,
  .design--6,
  .design--7,
  .design--8 {
    width: 100%;
    height: 1px;
  }
  
  .design--5,
  .design--6 {
    left: 0;
    transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  }
  
  .design--5 {
    top: 41%;
  }
  
  .design--6 {
    top: 59%;
  }
  
  .design--7,
  .design--8 {
    right: 0;
    transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--7 {
    top: 44%;
  }
  
  .design--8 {
    top: 56%;
  }
  
  /* states */
  button:hover+.design-container,
  button:active+.design-container,
  button:focus+.design-container {
    --tr: 20;
    --op: .7;
  }
  .flip-card-button:hover+.design-container,
  .flip-card-button:focus+.design-container {
    --tr: 20;
    --op: .7;
  }
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
  }
  #Sous-Titre_GLPI{
    text-align: left !important;
  }
  .modal-toggle {
    display: none;
}
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto; /* Ajout de la propriété overflow pour permettre le défilement si nécessaire */
}

.modal-content {
    background-color: #fff;
    width: 80%; /* Ajustement de la largeur */
    max-width: 600px;
    margin: 50px auto; /* Centrage vertical et espacement par rapport au haut */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Style du modal lorsqu'il est ouvert */
.modal:target {
  display: block;
}

#detail{
  display: flex;
  justify-content: center; 
  margin-left: -50%;
}
#myModalRappelTout p{
  text-align: justify;
}
#myModal p{
  text-align: justify;
}
.image-container {
  position: relative;
  width: 100vw; 
  overflow: hidden; 
}

.image-container img {
  width: 100%; 
  height: auto; 
}
.console-container {
 
  font-family:Khula;
  font-size:2.5em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.list-unstyled{
  margin-top: 10%;
}

#contact{
  margin-top: 250px;
}

.BtnContact{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(35, 97, 185);
}